<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
        <title>{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if options.favicon %}
    <link rel="icon" type="image/png" href="{{options.favicon}}" sizes="32x32" />
    {% endif %}
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{function('wp_head')}}
    {{options.google_analytics}}
</head>

	<body class="{{body_class}}" data-template="base.twig">
		<header>
			{% block header %}
					<h1>
						<a href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<p>{{site.description}}</p>
					<nav>
						{% include "partials/menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
			{% endblock %}
		</header>

		{% if breadcrumbs %}
		{% include 'partials/breadcrumbs.twig' %}
		{% endif %}
	
			{% if title %}<h1>{{title}}</h1>{% endif %}

				{% block content %}
					Sorry, no content
				{% endblock %}

			{% if sidebar_main %}
				<aside>
					{% include 'partials/sidebar.twig' %}
				</aside>
			{% endif %}

		{% block footer %}
			<footer>
				{% include 'partials/footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
