{% extends "base.twig" %}

{% block main %}

	{% block title %}
		<h1>{{post.title}}</h1>
		<p>{{post.tagline}}</p>
	{% endblock %}

	{% block meta %}

	{% endblock %}

	{% block content %}

		<div class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		
			{{post.content}}

		</div>

	{% endblock %}

	{% block comment %}

	{% endblock %}

{% endblock %}