{% extends "base.twig" %}

{% block content %}
	
    class="post-type-{{post.post_type}}" id="post-{{post.ID}}"

				<h1>{{post.title}}</h1>
				By <a href="{{post.author.path}}"> {{ post.author.name }} </a>
                {{ post.post_date|date}}

					{{post.content}}

                <!-- comments -->
 
                    {% if post.comments %}
                        <h3> comments </h3>
                        {% for cmt in post.comments %}
                            {% include "partials/comment.twig" with {comment:cmt} %}
                        {% endfor %}
                    {% endif %}

{% endblock %}